version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - security

  - package-ecosystem: npm
    directory: /functions
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - security

  - package-ecosystem: npm
    directory: /web
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - security

  - package-ecosystem: npm
    directory: /studio-brain
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - security
