<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect Kiln Rentals" stopProcessing="true">
          <match url="^Kiln-Rentals/?$" ignoreCase="true" />
          <action type="Redirect" url="/kiln-firing/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Studio Spaces" stopProcessing="true">
          <match url="^Studio-Spaces/?$" ignoreCase="true" />
          <action type="Redirect" url="/studio-access/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Memberships" stopProcessing="true">
          <match url="^Memberships/?$" ignoreCase="true" />
          <action type="Redirect" url="/memberships/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Classes" stopProcessing="true">
          <match url="^Classes/?$" ignoreCase="true" />
          <action type="Redirect" url="/classes/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Gallery" stopProcessing="true">
          <match url="^Gallery/?$" ignoreCase="true" />
          <action type="Redirect" url="/gallery/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect About" stopProcessing="true">
          <match url="^About/?$" ignoreCase="true" />
          <action type="Redirect" url="/about/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Contact" stopProcessing="true">
          <match url="^Contact/?$" ignoreCase="true" />
          <action type="Redirect" url="/contact/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Store" stopProcessing="true">
          <match url="^Store/?$" ignoreCase="true" />
          <action type="Redirect" url="/supplies/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Community Guide" stopProcessing="true">
          <match url="^Community-Guide/?$" ignoreCase="true" />
          <action type="Redirect" url="/faq/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Tutoring" stopProcessing="true">
          <match url="^tutoring/?$" ignoreCase="true" />
          <action type="Redirect" url="https://monsoonfirepottery.kilnfire.com/classes" redirectType="Permanent" />
        </rule>
        <rule name="Add Trailing Slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="\\.[a-zA-Z0-9]{1,5}$" negate="true" />
          </conditions>
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
